@import url("https://fonts.googleapis.com/css?family=Lacquer|Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* all starting styles*/
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: 0.4s ease all;
}

h2 {
  margin: 0;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

hr {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: 'Roboto', sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* navbar section styling*/
.navbar {
  background: #fff;
  color: #000;
  padding: 15px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.navbar .logo {
  cursor: pointer;
  font-family: "Lacquer";
}

.navbar ul.links {
  font-family: "Nunito";
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease background;
}

.navbar ul.links li {
  text-transform: uppercase;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}

.navbar ul.links li a {
  text-decoration: none;
  color: #000;
}

.navbar ul.links li:hover {
  background: #ffc600;
  cursor: pointer;
}

.navbar ul.links li:hover a {
  color: #080808;
}

.navbar button {
  background: #ffc600;
  outline: none;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #e6b200;
  letter-spacing: 1px;
  margin-bottom: 13px;
}

.navbar button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
  background: #222;
  border-color: #000;
}

.content {
  background-size: cover;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.content h2 {
  color: #ffc600;
}

.navbar.sticky {
  position: fixed;
  z-index: 40;
}

.navbar.sticky~main {
  position: relative;
  z-index: 20;
  top: 65px;
}



@media screen and (max-width: 850px) {
  .navbar .right {
    height: 0;
    overflow: hidden;
  }

  .toggle {
    position: absolute;
    top: 32.5px;
    right: 20px;
    z-index: 99;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .toggle>* {
    width: 80%;
    height: 2px;
    background: #000;
    margin: 3px 0;
  }

  .navbar.collapsed .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }

  .navbar.collapsed .toggle .line2 {
    opacity: 0;
  }

  .navbar.collapsed .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar.collapsed .logo {
    position: absolute;
    z-index: 44;
  }

  .navbar .links {
    position: fixed;
    background: #080808;
    font-family: "Nunito";
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 45vw;
    height: 100vh;
  }

  .navbar .links li:first-child {
    margin-top: 80px;
  }

  .navbar.collapsed .links {
    left: 0;
  }

  .navbar.collapsed .links a {
    color: #fff;
  }

  .navbar.collapsed .links li {
    width: 100%;
  }

  .navbar.collapsed .links li:hover a {
    color: #080808;
  }

  .navbar.collapsed .right {
    position: fixed;
    font-family: "Nunito";
    width: 45vw;
    text-align: center;
    height: auto;
    bottom: 40px;
    left: 22.5vw;
    transform: translateX(-50%);
    z-index: 45;
  }

  .navbar.collapsed~main {
    filter: blur(1px);
    opacity: 0.8;
  }

  .navbar.sticky {
    position: fixed;
    z-index: 40;
  }
}

/* navbar menu styling end*/
/* main section styling */
.main-background {
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613466898_32-p-fon-dlya-prezentatsii-ofisnii-stil-33.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 0.9;
}

.container-fluid {

  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.container-fluid .text {
  text-align: center;
  color: #000;
  font-weight: bolder;
}

.container-fluid .main-logo {
  border-radius: 20px;
}

/* img slider section*/
/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* img-slider section end */

/* Tabs section styling */


.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 25px;
  background: #e2e2e2;
  font-weight: bold;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #fff;
  order: 1;
  display: none;
}

.mytabs .tab h2 {
  font-size: 3em;
}

.mytabs input[type='radio']:checked+label+.tab {
  display: block;
}

.mytabs input[type="radio"]:checked+label {
  background: #fff;
}

/* Counter style */
.counter {
  padding: 20px 20px;

  box-sizing: border-box;
}

.counter-main {
  background-color: grey;
  padding: 20px 20px;
  height: 200px;
}

.sizebig {
  font-size: 25px;
}

.counter-p {
  margin-top: 1rem;
}

/* Counter section styling end */

/* Img card slider section start styling */
.img-slider .card {
  border-bottom: none;
  border-top: none;
  background: none;
}

.img-slider .card-header {
  background: none;
  border: none;
  border-top: none;
  border-bottom: none;
}

.img-slider .card-body {
  background: none;
  border: none;
  border-top: none;
  border-bottom: none;
}

.img-slider .card-footer {
  background: none;
  border: none;
  border-top: none;
  border-bottom: none;
}

.card-width img {
  width: 200px;
  height: 300px;
}

.location {
  color: black;
  margin: 0;
  text-align: center;
}

.sup-text {
  color: rgb(22, 155, 155);
  font-weight: 900;
}

/* Red button styling */
.red-button {
  margin-top: 2rem;
  text-align: center;
}

.red-button a {
  text-decoration: none;
  color: white;
  background-color: crimson;
  padding: 15px 35px;
}

.red-button a:hover {
  background-color: black;
  color: white;
  font-weight: 700;
  transition: 0.7s ease;
}

/* Director words section styling */

.director-text {
  color: #0023eb;
  font-weight: 900;
  letter-spacing: 1px;
}


.parent-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.director-iqtibos {
  font-weight: 700;
}

/* our-friends section styling */
.our-friends {
  background-color: lightgray;
}

.our-row-friends {
  padding: 20px 20px;
}

.brand {
  background-color: white;
}

/* Map and form section styling */
.map-and-form {
  background-image: url(https://novostroyki-almaty.kz/Media/images/complex/big/69140c42c81a17cd58bbf6cc0b57b721.jpg);
  width: 100%;
  height: 800px;
  background-position: center;
  object-fit: cover;
  opacity: 0.99999;
}
.contact-with-h3{
  color: white;
  font-weight: 800;
}

.contact-with-p{
  color: white;
  font-weight: 800;
  margin-bottom: 2rem;
}
